@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #dc258d, #c8329f, #ae3eae, #9049b8, #6c52bf, #6353c5, #5754cc, #4756d2, #6350dc, #8047e3, #9d37e7, #bb12e8); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
